Satisfy Any

order deny,allow
deny from all
allow from 124.214.38.129

AuthUserfile /home/r2564452/public_html/goikeisei.studiogvoice-test.com/.htpasswd
AuthGroupfile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user
