@use "setting" as *;

/* ====================================== temp */
.dsp-pc {
  display: block;
  @media screen and (max-width: $VIEWPOINT01) {
    display: none;
  }
}
.dsp-sp {
  display: none;
  @media screen and (max-width: $VIEWPOINT01) {
    display: block;
  }
}
a {
  text-decoration: none;
  color: $base-color;
}
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  font-family: inherit;
  font-size: 100%;
}
select {
  &::-ms-expand {
    display: none;
  }
}
img {
  width: 100%;
  height: auto;
}

/* ====================================== common */
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $base-color;
  &.fixed {
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

/* ====================================== wrapper */
#wrapper {
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  @media screen and (max-width: $MIN-WIDTH) {
    min-height: pc(100);
  }
  @media screen and (max-width: $VIEWPOINT01) {
    padding-top: 64px;
  }
}

/* ====================================== contents */
#contents {
  box-sizing: border-box;
}

/* ====================================== inner */
.inner {
  width: 100%;
  max-width: $MIN-WIDTH;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  @media screen and (max-width: $VIEWPOINT01) {
    max-width: 630px;
    padding: 0 15px;
  }
}

/* ====================================== layout */
.layout {

  /* ------------------------------ 01 */
  &.-layout01 {
    display: flex;
    gap: 40px;
    @media screen and (max-width: $MIN-WIDTH) {
      gap: pc(40);
    }
    @media screen and (max-width: $VIEWPOINT01) {
      display: block;
    }
    .block {
      &.-head {
        width: 260px;
        @media screen and (max-width: $MIN-WIDTH) {
          width: pc(260);
        }
        @media screen and (max-width: $VIEWPOINT01) {
          width: 100%;
        }
      }
      &.-contents {
        flex: 1;
        @media screen and (max-width: $VIEWPOINT01) {
          margin-top: 30px;
        }
      }
    }
  }

  /* ------------------------------ 02 */
  &.-layout02 {
    display: flex;
    gap: 40px;
    @media screen and (max-width: $MIN-WIDTH) {
      gap: pc(40);
    }
    @media screen and (max-width: $VIEWPOINT01) {
      display: block;
    }
    .block {
      &.-head {
        width: 300px;
        @media screen and (max-width: $MIN-WIDTH) {
          width: pc(300);
        }
        @media screen and (max-width: $VIEWPOINT01) {
          width: 100%;
        }
      }
      &.-contents {
        flex: 1;
        @media screen and (max-width: $VIEWPOINT01) {
          margin-top: 30px;
        }
      }
    }
  }
}

/* ====================================== another-contents */
#another-contents {
  margin-top: 40px;
  padding-top: 60px;
  @media screen and (max-width: $VIEWPOINT01) {
    margin-top: 20px;
    padding-top: 50px;
  }
  .inner {
    .inner-contents {
      .nav {
        margin-top: 30px;
      }
    }
  }
}

/* ====================================== recruit */
#recruit {
  @extend %wave-top;
  margin-top: 100px;
  padding: calc(72px + 1.944vw) 0 100px;
  background: $gradation02;
  @media screen and (max-width: $VIEWPOINT01) {
    margin-top: 50px;
    padding: calc(60px + 4.1vw) 0 80px;
  }
  .inner {
    .inner-contents {
      .nav {
        @media screen and (max-width: $VIEWPOINT01) {
          max-width: 300px;
          margin: 0 auto;
        }
        .nav-list {
          display: flex;
          gap: 40px;
          @media screen and (max-width: $MIN-WIDTH) {
            gap: pc(40);
          }
          @media screen and (max-width: $VIEWPOINT01) {
            display: block;
          }
          > li {
            min-height: 100px;
            flex: 1;
            @media screen and (max-width: $VIEWPOINT01) {
              min-height: auto;
            }
            > a {
              @extend %fade;
              min-height: 100%;
              padding: 20px 84px 20px 40px;
              background: $wh;
              border-radius: 5px;
              box-sizing: border-box;
              box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
              display: flex;
              align-items: center;
              position: relative;
              font-size: 24px;
              font-weight: 700;
              line-height: 1.5;
              color: $color01;
              @media screen and (max-width: $VIEWPOINT01) {
                min-height: 70px;
                padding: 15px 84px 15px 40px;
                font-size: 20px;
              }
              &:after {
                content: "";
                width: 34px;
                height: 34px;
                margin: auto;
                background: {
                  color: $color01;
                  image: url(#{$IMGPATH}arw02-r-wh.svg);
                  repeat: no-repeat;
                  size: 52.94% auto;
                  position: center center;
                }
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 40px;
                bottom: 0;
                transition: right $speed01 $easing01;
              }
              &:hover {
                &:after {
                  right: 35px;
                }
              }
            }
            &:not(:first-child) {
              @media screen and (max-width: $VIEWPOINT01) {
                margin-top: 30px;
              }
            }
          }
        }
      }
    }
  }
}

/* ====================================== bk */
#bk {
  width: 100%;
  height: 100%;
  background: $bk;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 1;
}
