@use "setting" as *;

/* ====================================== temp */
.dsp-pc {
  display: block;
  @media screen and (max-width: $VIEWPOINT01) {
    display: none;
  }
}
.dsp-sp {
  display: none;
  @media screen and (max-width: $VIEWPOINT01) {
    display: block;
  }
}
a {
  text-decoration: none;
  color: $base-color;
}
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  font-family: inherit;
  font-size: 100%;
}
select {
  &::-ms-expand {
    display: none;
  }
}
img {
  width: 100%;
  height: auto;
}

/* ====================================== common */
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $base-color;
  &.fixed {
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

/* ====================================== wrapper */
#wrapper {
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

/* ====================================== contents */
#contents {
  box-sizing: border-box;
}

/* ====================================== inner */
.inner {
  width: 100%;
  max-width: $MIN-WIDTH;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  @media screen and (max-width: $VIEWPOINT01) {
    max-width: 640px;
    padding: 0 20px;
  }
}

/* ====================================== layout */
.layout {

  /* ------------------------------ 01 */
  &.-layout01 {
    display: flex;
    gap: 40px;
    .block {
      &.-head {
        width: 22.81%;
      }
      &.-contents {
        flex: 1;
      }
    }
  }

  /* ------------------------------ 02 */
  &.-layout02 {
    display: flex;
    gap: 40px;
    .block {
      &.-head {
        width: 26.32%;
      }
      &.-contents {
        flex: 1;
      }
    }
  }
}

/* ====================================== data */
.data {
  margin-top: 100px;
  > a {
    padding: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    position: relative;
    overflow: hidden;
    .bg {
      @extend %img01;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      img {
        transition: transform $speed01 $easing01, opacity $speed01 $easing01;
      }
    }
    .box {
      max-width: 700px;
      margin: 0 auto;
      padding: 30px;
      background: rgba(65, 187, 237, 0.7);
      box-sizing: border-box;
      text-align: center;
      color: $wh;
      .box-ttl {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.5;
      }
      .box-txt {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
      }
      .box-more {
        margin-top: 15px;
        padding-right: 26px;
        display: inline-block;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        transition: opacity $speed01 $easing01;
        &:after {
          content: "";
          width: 16px;
          height: 16px;
          margin: auto;
          background: {
            image: url(#{$IMGPATH}arw02-r-wh.svg);
            repeat: no-repeat;
            size: contain;
            position: center center;
          }
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          transition: right $speed01 $easing01;
        }
      }
    }
    &:hover {
      .bg {
        img {
          transform: scale(1.05);
          opacity: 0.7;
        }
      }
      .box {
        .box-more {
          opacity: 0.7;
          &:after {
            right: -5px;
          }
        }
      }
    }
  }
}

/* ====================================== recruit */
#recruit {
  @extend %wave-top;
  margin-top: 100px;
  padding: calc(72px + 1.944vw) 0 100px;
  background: $gradation02;
  .inner {
    .inner-contents {
      .nav {
        .nav-list {
          display: flex;
          gap: 40px;
          > li {
            min-height: 100px;
            flex: 1;
            > a {
              @extend %fade;
              min-height: 100%;
              padding: 20px 84px 20px 40px;
              background: $wh;
              border-radius: 5px;
              box-sizing: border-box;
              box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
              display: flex;
              align-items: center;
              position: relative;
              font-size: 24px;
              font-weight: 700;
              line-height: 1.5;
              color: $color01;
              &:after {
                content: "";
                width: 34px;
                height: 34px;
                margin: auto;
                background: {
                  color: $color01;
                  image: url(#{$IMGPATH}arw02-r-wh.svg);
                  repeat: no-repeat;
                  size: 52.94% auto;
                  position: center center;
                }
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 40px;
                bottom: 0;
                transition: right $speed01 $easing01;
              }
              &:hover {
                &:after {
                  right: 35px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ====================================== bk */
#bk {
  width: 100%;
  height: 100%;
  background: $bk;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 1;
}
