@use "setting" as *;

/* ====================================== faq */
#faq {
  margin-top: 50px;
  padding-top: 50px;
  @media screen and (max-width: $VIEWPOINT01) {
    margin-top: 0;
    padding-top: 20px;
  }
  .inner {
    .inner-contents {
      .section-wrap {
        .section {
          display: flex;
          gap: 40px;
          @media screen and (max-width: $MIN-WIDTH) {
            gap: pc(40);
          }
          @media screen and (max-width: $VIEWPOINT01) {
            display: block;
          }
          .section-block {
            &.-head {
              flex: 1;
            }
            &.-contents {
              width: 70.18%;
              @media screen and (max-width: $VIEWPOINT01) {
                width: 100%;
                margin-top: 30px;
              }
              .item-wrap {
                .item {
                  border: 1px solid $border-color;
                  border-radius: 5px;
                  @media screen and (max-width: $VIEWPOINT01) {
                    padding-bottom: 5px;
                  }
                  > dt {
                    padding: 20px 120px 20px 85px;
                    position: relative;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.5;
                    cursor: pointer;
                    transition: color $speed01 $easing01;
                    @media screen and (max-width: $MIN-WIDTH) {
                      padding: 20px calc(60px + pc(60)) 20px calc(35px + pc(50));
                    }
                    @media screen and (max-width: $VIEWPOINT01) {
                      padding: 20px 15px 15px 44px;
                      font-size: 16px;
                    }
                    &:before {
                      @extend %font01;
                      content: "Q.";
                      height: 1em;
                      margin: auto;
                      display: inline;
                      position: absolute;
                      top: 0;
                      left: 50px;
                      bottom: 0;
                      font-size: 22px;
                      font-weight: 500;
                      color: $color01;
                      @media screen and (max-width: $MIN-WIDTH) {
                        left: pc(50);
                      }
                      @media screen and (max-width: $VIEWPOINT01) {
                        padding-top: 5px;
                        left: 15px;
                        font-size: 18px;
                      }
                    }
                    &:after {
                      content: "";
                      width: 60px;
                      height: 30px;
                      margin: auto;
                      background: {
                        color: $color01;
                        image: url(#{$IMGPATH}ico-plus02.svg);
                        repeat: no-repeat;
                        size: 16px auto;
                        position: center center;
                      }
                      border-radius: 9999px;
                      display: block;
                      position: absolute;
                      top: 0;
                      right: 50px;
                      bottom: 0;
                      @media screen and (max-width: $MIN-WIDTH) {
                        right: pc(50);
                      }
                      @media screen and (max-width: $VIEWPOINT01) {
                        content: none;
                      }
                    }
                    &:hover {
                      color: $color01;
                    }
                  }
                  > dd {
                    padding: 0 50px 20px 50px;
                    display: none;
                    @media screen and (max-width: $MIN-WIDTH) {
                      padding: 0 pc(50) 20px pc(50);
                    }
                    @media screen and (max-width: $VIEWPOINT01) {
                      padding: 0 15px 15px 15px;
                    }
                    .dd-contents {
                      padding: 10px 70px 15px 35px;
                      border: {
                        top: 1px solid $border-color;
                        bottom: 1px solid $border-color;
                      }
                      position: relative;
                      font-size: 18px;
                      font-weight: 500;
                      line-height: 1.7;
                      @media screen and (max-width: $MIN-WIDTH) {
                        padding: 10px pc(70) 15px 35px;
                      }
                      @media screen and (max-width: $VIEWPOINT01) {
                        padding: 10px 0 15px 29px;
                        font-size: 16px;
                      }
                      &:before {
                        @extend %font01;
                        content: "A.";
                        height: 1em;
                        display: inline;
                        position: absolute;
                        top: 16px;
                        left: 0;
                        font-size: 22px;
                        font-weight: 500;
                        color: $color01;
                        @media screen and (max-width: $VIEWPOINT01) {
                          font-size: 18px;
                        }
                      }
                    }
                  }
                  &:not(:first-child) {
                    margin-top: 25px;
                    @media screen and (max-width: $VIEWPOINT01) {
                      margin-top: 15px;
                    }
                  }
                  &.-active {
                    > dt {
                      &:after {
                        background: {
                          image: url(#{$IMGPATH}ico-minus02.svg);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          &:not(:first-child) {
            margin-top: 60px;
            @media screen and (max-width: $VIEWPOINT01) {
              margin-top: 40px;
            }
          }
        }
      }
    }
  }
}
