@use "setting" as *;

/* ====================================== footer */
#footer {
  border: {
    top: 1px solid $border-color;
  }
  padding: 50px 0;
  @media screen and (max-width: $VIEWPOINT01) {
    padding: 30px 0 50px;
    border: none;
  }
  .inner {
    .inner-contents {
      .layout {
        display: flex;
        gap: 40px;
        @media screen and (max-width: $VIEWPOINT01) {
          display: block;
        }
        .block {
          &.-head {
            width: 315px;
            @media screen and (max-width: $MIN-WIDTH) {
              width: pc(315);
            }
            @media screen and (max-width: $VIEWPOINT01) {
              width: 100%;
            }
            .logo {
              font-size: 0;
              line-height: 0;
              @media screen and (max-width: $VIEWPOINT01) {
                text-align: center;
              }
              > a {
                img {
                  @media screen and (max-width: $VIEWPOINT01) {
                    max-width: 234px;
                  }
                }
              }
            }
            .btn-wrap {
              margin-top: 25px;
              @media screen and (max-width: $VIEWPOINT01) {
                margin-top: 40px;
                display: flex;
                align-items: center;
                gap: 10px;
              }
              @media screen and (max-width: $VIEWPOINT02) {
                gap: sp(10);
              }
              .btn {
                @media screen and (max-width: $VIEWPOINT01) {
                  flex: 1;
                }
                &:not(:first-child) {
                  margin-top: 15px;
                  @media screen and (max-width: $VIEWPOINT01) {
                    margin-top: 0;
                  }
                }
                > a {
                  @media screen and (max-width: $VIEWPOINT01) {
                    margin: 0 auto;
                  }
                }
              }
            }
          }
          &.-contents {
            flex: 1;
            @media screen and (max-width: $VIEWPOINT01) {
              display: none;
            }
            .nav {
              max-width: 585px;
              margin-left: auto;
              .nav-list {
                column-count: 3;
                column-gap: 45px;
                @media screen and (max-width: $MIN-WIDTH) {
                  column-gap: pc(30);
                }
                > li {
                  page-break-inside: avoid;
                  .nav-head {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.5;
                    > a {
                      transition: color $speed01 $easing01;
                      &:hover {
                        color: $color02;
                      }
                    }
                  }
                  .nav-sub-list {
                    margin-top: 10px;
                    > li {
                      padding-left: 16px;
                      position: relative;
                      font-size: 14px;
                      line-height: 1.5;
                      &:before {
                        content: "";
                        width: 11px;
                        height: 1px;
                        background: $base-color;
                        display: block;
                        position: absolute;
                        top: 0.75em;
                        left: 0;
                      }
                      > a {
                        transition: color $speed01 $easing01;
                        &:hover {
                          color: $color02;
                        }
                      }
                      &:not(:first-child) {
                        margin-top: 5px;
                      }
                    }
                  }
                  .nav-link {
                    font-size: 14px;
                    line-height: 1.5;
                    > a {
                      display: inline-block;
                      transition: color $speed01 $easing01;
                      &[target="_blank"] {
                        padding-right: 15px;
                        position: relative;
                        &:before, &:after {
                          content: "";
                          width: 10px;
                          height: 10px;
                          background: {
                            repeat: no-repeat;
                            size: contain;
                            position: center center;
                          }
                          display: inline-block;
                          position: absolute;
                          top: calc(50% - 5px);
                          right: 0;
                          transition: top $speed01 $easing01, right $speed01 $easing01, opacity $speed01 $easing01;
                        }
                        &:before {
                          background: {
                            image: url(#{$IMGPATH}arw03-tr-base.svg);
                          }
                        }
                        &:after {
                          background: {
                            image: url(#{$IMGPATH}arw03-tr.svg);
                          }
                          opacity: 0;
                        }
                      }
                      &:hover {
                        color: $color02;
                        &:before {
                          opacity: 0;
                        }
                        &:after {
                          opacity: 1;
                        }
                      }
                    }
                  }
                  &:not(:first-child) {
                    margin-top: 20px;
                  }
                }
              }
            }
          }
        }
      }
      .bottom {
        margin-top: 75px;
        position: relative;
        @media screen and (max-width: 1240px) {
          padding: 0 20px;
        }
        @media screen and (max-width: $VIEWPOINT01) {
          margin-top: 50px;
          padding: 0;
          display: flex;
          align-items: flex-end;
          gap: 15px;
        }
        .copyright {
          text-align: center;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.5;
          @media screen and (max-width: $VIEWPOINT01) {
            flex: 1;
            text-align: left;
            font-size: 11px;
          }
        }
        #pagetop {
          width: 60px;
          position: absolute;
          right: -60px;
          bottom: 0;
          text-align: center;
          cursor: pointer;
          @media screen and (max-width: 1240px) {
            width: 40px;
            right: -30px;
          }
          @media screen and (max-width: $VIEWPOINT01) {
            width: 45px;
            position: static;
            right: auto;
            bottom: auto;
          }
          .pagetop-img {
            font-size: 0;
            line-height: 0;
            img {
              width: 45px;
            }
          }
          .pagetop-txt {
            @extend %font01;
            font-size: 12px;
            color: $color02;
            @media screen and (max-width: 1240px) {
              font-size: 10px;
            }
            @media screen and (max-width: $VIEWPOINT01) {
              display: none;
            }
          }
        }
      }
    }
  }
}
