@use "setting" as *;

/* ====================================== header */
#header {
  width: 100%;
  height: 100px;
  background: $wh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  @media screen and (max-width: $MIN-WIDTH) {
    height: pc(100);
  }
  @media screen and (max-width: $VIEWPOINT01) {
    height: 64px;
  }
  .header-inner {
    height: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: $MIN-WIDTH) {
      padding: pc(20) pc(30);
      gap: pc(20);
    }
    @media screen and (max-width: $VIEWPOINT01) {
      padding: 0 0 0 15px;
      gap: 0;
    }
    .logo {
      font-size: 0;
      line-height: 0;
      @media screen and (max-width: $VIEWPOINT01) {
        flex: 1;
      }
      > a {
        img {
          max-width: 400px;
          @media screen and (max-width: 1350px) {
            max-width: pc(350);
          }
          @media screen and (max-width: $VIEWPOINT01) {
            max-width: 275px;
          }
        }
      }
    }
    .nav {
      flex: 1;
      @media screen and (max-width: $VIEWPOINT01) {
        width: 100%;
        height: calc(100% - 64px);
        background: rgba(255, 255, 255, 0.95);
        border: {
          top: 2px solid $border-color;
        }
        display: none;
        position: fixed;
        top: 64px;
        left: 0;
        overflow-y: scroll;
        overscroll-behavior: contain;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .nav-contents {
        @media screen and (max-width: $VIEWPOINT01) {
          height: calc(100% + 1px);
          background: $gradation04;
          overflow-y: auto;
        }
        .nav-inner {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 40px;
          @media screen and (max-width: 1350px) {
            gap: pc(30);
          }
          @media screen and (max-width: $VIEWPOINT01) {
            padding: 10px 15px 60px;
            display: block;
          }
          .nav-list {
            display: flex;
            align-items: center;
            gap: 30px;
            @media screen and (max-width: 1350px) {
              gap: pc(20);
            }
            @media screen and (max-width: $VIEWPOINT01) {
              display: block;
            }
            > li {
              @media screen and (max-width: $VIEWPOINT01) {
                border: {
                  bottom: 1px solid $color14;
                }
              }
              .nav-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 1.5;
                @media screen and (max-width: 1350px) {
                  font-size: pc(15);
                }
                @media screen and (max-width: $VIEWPOINT01) {
                  display: flex;
                  align-items: center;
                  font-size: 16px;
                }
                > a {
                  transition: color $speed01 $easing01;
                  @media screen and (max-width: $VIEWPOINT01) {
                    min-height: 65px;
                    display: flex;
                    align-items: center;
                    flex: 1;
                    transition: none;
                  }
                  &:hover {
                    color: $color01;
                  }
                }
                .nav-head-acod {
                  display: none;
                  @media screen and (max-width: $VIEWPOINT01) {
                    width: 25px;
                    height: 25px;
                    display: block;
                    position: relative;
                    &:before, &:after {
                      content: "";
                      width: 100%;
                      height: 100%;
                      background: {
                        repeat: no-repeat;
                        size: contain;
                        position: center center;
                      }
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      transition: opacity $speed01 $easing01;
                    }
                    &:before {
                      background: {
                        image: url(#{$IMGPATH}ico-plus01.svg);
                      }
                    }
                    &:after {
                      background: {
                        image: url(#{$IMGPATH}ico-minus01.svg);
                      }
                      opacity: 0;
                    }
                  }
                }
                &:not(.-acod) {
                  > a {
                    @media screen and (max-width: $VIEWPOINT01) {
                      background: {
                        image: url(#{$IMGPATH}arw04-r.svg);
                        repeat: no-repeat;
                        size: 25px 25px;
                        position: center right;
                      }
                    }
                  }
                }
              }
              .nav-sub-list {
                display: none;
                @media screen and (max-width: $VIEWPOINT01) {
                  padding: 0 20px 20px;
                  > li {
                    padding-left: 26px;
                    position: relative;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    &:before {
                      content: "";
                      width: 14px;
                      height: 2px;
                      background: $base-color;
                      display: block;
                      position: absolute;
                      top: 0.75em;
                      left: 0;
                    }
                    &:not(:first-child) {
                      margin-top: 15px;
                    }
                  }
                }
              }
              &.-active {
                .nav-head {
                  .nav-head-acod {
                    &:before {
                      opacity: 0;
                    }
                    &:after {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
          .entry {
            @media screen and (max-width: $VIEWPOINT01) {
              display: none;
            }
            > a {
              width: 156px;
              height: 44px;
              padding: 5px 44px 5px 15px;
              background: $color01;
              border-radius: 9999px;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              text-align: center;
              color: $wh;
              transition: background-color $speed01 $easing01, color $speed01 $easing01;
              @media screen and (max-width: $MIN-WIDTH) {
                width: pc(156);
                height: pc(44);
                padding: pc(5) pc(44) pc(5) pc(15);
              }
              &:after {
                content: "";
                width: 34px;
                height: 34px;
                margin: auto;
                background: {
                  color: $wh;
                  image: url(#{$IMGPATH}arw01-r.svg);
                  repeat: no-repeat;
                  size: 51.47% auto;
                  position: center center;
                }
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                right: 5px;
                bottom: 0;
                @media screen and (max-width: $MIN-WIDTH) {
                  width: pc(34);
                  height: pc(34);
                  right: pc(5);
                }
              }
              > span {
                @extend %font01;
                font-size: 20px;
                font-weight: 600;
                @media screen and (max-width: $MIN-WIDTH) {
                  font-size: pc(20);
                }
              }
              &:hover {
                background: $color02;
                color: $color01;
              }
            }
          }
          .sp-entry {
            display: none;
            @media screen and (max-width: $VIEWPOINT01) {
              margin-top: 25px;
              display: block;
            }
            .sp-entry-btn-wrap {
              display: flex;
              gap: 10px;
              .sp-entry-btn {
                min-height: 45px;
                flex: 1;
                > a {
                  width: 100%;
                  min-height: 100%;
                  padding: 10px 40px 10px 10px;
                  background: $wh;
                  border-radius: 5px;
                  box-sizing: border-box;
                  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                  display: flex;
                  align-items: center;
                  position: relative;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 1.5;
                  color: $color01;
                  &:after {
                    content: "";
                    width: 25px;
                    height: 25px;
                    margin: auto;
                    background: {
                      color: $color01;
                      image: url(#{$IMGPATH}arw02-r-wh.svg);
                      repeat: no-repeat;
                      size: 56% auto;
                      position: center center;
                    }
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    .sp-menu {
      width: 70px;
      height: 64px;
      display: none;
      @media screen and (max-width: $VIEWPOINT01) {
        display: block;
      }
      .sp-menu-contents {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .sp-menu-bars {
          .sp-menu-bar {
            width: 40px;
            height: 2px;
            background: $color13;
            display: block;
            &:not(:first-child) {
              margin-top: 6px;
            }
            &:nth-child(2) {
              width: 30px;
            }
          }
        }
      }
    }
  }
  &.-active {
    .header-inner {
      .sp-menu {
        .sp-menu-contents {
          .sp-menu-bars {
            .sp-menu-bar {
              &:nth-child(1) {
                animation: bar-t $speed01 $easing01 0s 1 forwards;
              }
              &:nth-child(2) {
                animation: bar-c $speed01 $easing01 0s 1 forwards;
              }
              &:nth-child(3) {
                animation: bar-b $speed01 $easing01 0s 1 forwards;
              }
            }
          }
        }
      }
    }
  }
  &.-inactive {
    .header-inner {
      .sp-menu {
        .sp-menu-contents {
          .sp-menu-bars {
            .sp-menu-bar {
              &:nth-child(1) {
                animation: bar-t-r $speed01 $easing01 0s 1 forwards;
              }
              &:nth-child(2) {
                animation: bar-c-r $speed01 $easing01 0s 1 forwards;
              }
              &:nth-child(3) {
                animation: bar-b-r $speed01 $easing01 0s 1 forwards;
              }
            }
          }
        }
      }
    }
  }
}
