@use "setting" as *;

/* ====================================== ttl */
.ttl {

  /* ------------------------------ 01 */
  &.-ttl01 {
    > span {
      display: block;
      &.sub {
        @extend %font01;
        padding-left: 17px;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          background: $color01;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: 0.2em;
          left: 0;
        }
      }
      &.main {
        margin-top: 10px;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.5;
        @media screen and (max-width: $VIEWPOINT01) {
          font-size: 28px;
        }
      }
    }
    &.-small {
      > span {
        &.main {
          font-size: 24px;
          @media screen and (max-width: $VIEWPOINT01) {
            font-size: 28px;
          }
        }
      }
    }
    &.-yel {
      > span {
        &.sub {
          &:before {
            background: $color07;
          }
        }
      }
    }
  }
}

/* ====================================== page-ttl */
.page-ttl {

  /* ------------------------------ 01 */
  &.-page-ttl01 {
    .page-ttl-inner {
      padding: 40px 100px;
      display: flex;
      align-items: flex-end;
      gap: 30px;
      @media screen and (max-width: $MIN-WIDTH) {
        padding: 40px pc(100);
        gap: pc(30);
      }
      @media screen and (max-width: $VIEWPOINT01) {
        padding: 30px 15px;
        display: block;
      }
      .ttl {
        flex: 1;
        > span {
          display: block;
          &.sub {
            @extend %font01;
            padding-left: 17px;
            position: relative;
            font-size: 16px;
            font-weight: 500;
            color: $color01;
            &:before {
              content: "";
              width: 10px;
              height: 10px;
              background: $color01;
              border-radius: 50%;
              display: block;
              position: absolute;
              top: 0.2em;
              left: 0;
            }
          }
          &.main {
            margin-top: 15px;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.5;
            @media screen and (max-width: $VIEWPOINT01) {
              margin-top: 10px;
              font-size: 32px;
            }
          }
        }
        &.-animation {
          transition-delay: 0.4s;
        }
      }
      .breadcrumbs {
        @media screen and (max-width: $VIEWPOINT01) {
          margin-top: 30px;
        }
      }
    }
    .page-ttl-img {
      font-size: 0;
      line-height: 0;
    }
  }

  /* ------------------------------ 02 */
  &.-page-ttl02 {
    border: {
      bottom: 1px solid $border-color;
    }
    @media screen and (max-width: $VIEWPOINT01) {
      border: none;
    }
    .inner {
      .inner-contents {
        padding: 80px 0 60px;
        display: flex;
        align-items: flex-end;
        gap: 30px;
        @media screen and (max-width: $MIN-WIDTH) {
          gap: pc(30);
        }
        @media screen and (max-width: $VIEWPOINT01) {
          padding: 30px 0;
          display: block;
        }
        .ttl {
          flex: 1;
          > span {
            display: block;
            &.sub {
              @extend %font01;
              padding-left: 17px;
              position: relative;
              font-size: 16px;
              font-weight: 500;
              color: $color01;
              &:before {
                content: "";
                width: 10px;
                height: 10px;
                background: $color01;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0.2em;
                left: 0;
              }
            }
            &.main {
              margin-top: 15px;
              font-size: 48px;
              font-weight: 700;
              line-height: 1.5;
              @media screen and (max-width: $VIEWPOINT01) {
                margin-top: 10px;
                font-size: 32px;
              }
            }
          }
        }
        .breadcrumbs {
          @media screen and (max-width: $VIEWPOINT01) {
            margin-top: 30px;
          }
        }
      }
    }
  }
}

/* ====================================== txt */
.txt {

  /* ------------------------------ 01 */
  &.-txt01 {
    font-size: 14px;
    line-height: 1.7;
    @media screen and (max-width: $VIEWPOINT01) {
      font-size: 16px;
    }
  }

  /* ------------------------------ 02 */
  &.-txt02 {
    font-size: 16px;
    line-height: 1.8;
    @media screen and (max-width: $VIEWPOINT01) {
      line-height: 1.7;
    }
  }
}

/* ====================================== note */
.note {

  /* ------------------------------ 01 */
  &.-note01 {
    margin-left: 1em;
    font-size: 12px;
    line-height: 1.5;
    &:before {
      content: "※";
      width: 1em;
      margin-left: -1em;
      display: inline-block;
    }
  }
}

/* ====================================== btn */
.btn {

  /* ------------------------------ 01 */
  &.-btn01 {
    > a, > span {
      max-width: 100%;
      padding: 10px 52px 10px 28px;
      background: $color07;
      border-radius: 9999px;
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      text-align: left;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.5;
      color: $wh;
      transition: opacity $speed01 $easing01;
      @media screen and (max-width: $VIEWPOINT01) {
        width: 300px;
        min-height: 55px;
        padding: 10px 80px 10px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
      }
      &:after {
        content: "";
        width: 16px;
        height: 16px;
        margin: auto;
        background: {
          image: url(#{$IMGPATH}arw02-r-wh.svg);
          repeat: no-repeat;
          size: contain;
          position: center center;
        }
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        transition: right $speed01 $easing01;
        @media screen and (max-width: $VIEWPOINT01) {
          width: 20px;
          height: 20px;
          right: 50px;
        }
      }
    }
    > a {
      @extend %fade;
      &:hover {
        &:after {
          right: 15px;
          @media screen and (max-width: $VIEWPOINT01) {
            right: 50px;
          }
        }
      }
    }
    &.-grn {
      > a, > span {
        background: $color01;
      }
    }
  }

  /* ------------------------------ 02 */
  &.-btn02 {
    > a {
      width: 100%;
      max-width: 260px;
      min-height: 50px;
      padding: 10px 60px 10px 40px;
      border: 1px solid $color01;
      border-radius: 9999px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      position: relative;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: $color01;
      transition: background-color $speed01 $easing01, color $speed01 $easing01;
      @media screen and (max-width: $MIN-WIDTH) {
        padding-left: pc(40);
      }
      @media screen and (max-width: $VIEWPOINT01) {
        min-height: 40px;
        padding: 5px 30px 5px 15px;
        font-size: 13px;
      }
      @media screen and (max-width: $VIEWPOINT02) {
        min-height: sp(40);
        padding: sp(5) sp(30) sp(5) sp(15);
        font-size: sp(13);
      }
      &:before, &:after {
        content: "";
        width: 15px;
        height: 15px;
        background: {
          repeat: no-repeat;
          size: contain;
          position: center center;
        }
        display: block;
        position: absolute;
        top: calc(50% - 7.5px);
        right: 40px;
        transition: top $speed01 $easing01, right $speed01 $easing01, opacity $speed01 $easing01;
        @media screen and (max-width: $VIEWPOINT01) {
          width: 12px;
          height: 12px;
          top: calc(50% - 6px);
          right: 15px;
        }
        @media screen and (max-width: $VIEWPOINT02) {
          width: sp(12);
          height: sp(12);
          top: calc(50% - sp(6));
          right: sp(15);
        }
      }
      &:before {
        background: {
          image: url(#{$IMGPATH}arw03-tr.svg);
        }
      }
      &:after {
        background: {
          image: url(#{$IMGPATH}arw03-tr-wh.svg);
        }
        opacity: 0;
      }
      &:hover {
        background: $color01;
        color: $wh;
        @media screen and (max-width: $VIEWPOINT01) {
          background: $wh;
          color: $color01;
        }
        &:before, &:after {
          top: calc(50% - 12.5px);
          right: 35px;
          @media screen and (max-width: $VIEWPOINT01) {
            top: calc(50% - 7.5px);
            right: 30px;
          }
        }
        &:before {
          opacity: 0;
          @media screen and (max-width: $VIEWPOINT01) {
            opacity: 1;
          }
        }
        &:after {
          opacity: 1;
          @media screen and (max-width: $VIEWPOINT01) {
            opacity: 0;
          }
        }
      }
    }
  }

  /* ------------------------------ 03 */
  &.-btn03 {
    > a, > span {
      max-width: 100%;
      padding: 10px 52px 10px 28px;
      background: $color01;
      border-radius: 9999px;
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      text-align: left;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.5;
      color: $wh;
      transition: opacity $speed01 $easing01;
      @media screen and (max-width: $VIEWPOINT01) {
        padding: 10px 42px 10px 18px;
      }
      &:after {
        content: "";
        width: 16px;
        height: 16px;
        margin: auto;
        background: {
          image: url(#{$IMGPATH}arw02-r-wh.svg);
          repeat: no-repeat;
          size: contain;
          position: center center;
        }
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        transition: right $speed01 $easing01;
      }
    }
    > a {
      @extend %fade;
      &:hover {
        &:after {
          right: 15px;
        }
      }
    }
  }

  /* ------------------------------ 04 */
  &.-btn04 {
    > a {
      @extend %fade;
      width: 100%;
      max-width: 220px;
      min-height: 60px;
      padding: 5px 20px;
      background: $color01;
      border-radius: 9999px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      color: $wh;
    }
  }

  /* ------------------------------ 05 */
  &.-btn05 {
    > a {
      @extend %fade;
      width: 100%;
      min-height: 70px;
      padding: 15px 84px 15px 40px;
      background: $wh;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      position: relative;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      color: $color01;
      &:after {
        content: "";
        width: 34px;
        height: 34px;
        margin: auto;
        background: {
          color: $color01;
          image: url(#{$IMGPATH}arw02-r-wh.svg);
          repeat: no-repeat;
          size: 18px auto;
          position: center center;
        }
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 40px;
        bottom: 0;
        transition: right $speed01 $easing01;
      }
      &:hover {
        &:after {
          right: 35px;
        }
      }
    }
  }

  /* ------------------------------ 06 */
  &.-btn06 {
    > a {
      @extend %fade;
      width: 100%;
      max-width: 400px;
      min-height: 96px;
      padding: 20px 84px 20px 40px;
      background: $color01;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      position: relative;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      color: $wh;
      @media screen and (max-width: $VIEWPOINT01) {
        min-height: 70px;
        padding: 15px 74px 15px 30px;
      }
      &:after {
        content: "";
        width: 34px;
        height: 34px;
        margin: auto;
        background: {
          color: $wh;
          image: url(#{$IMGPATH}arw01-r.svg);
          repeat: no-repeat;
          size: 18px auto;
          position: center center;
        }
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 40px;
        bottom: 0;
        transition: right $speed01 $easing01;
        @media screen and (max-width: $VIEWPOINT01) {
          right: 30px;
        }
      }
      &:hover {
        &:after {
          right: 35px;
          @media screen and (max-width: $VIEWPOINT01) {
            right: 30px;
          }
        }
      }
    }
  }
}

/* ====================================== breadcrumbs */
.breadcrumbs {

  /* ------------------------------ 01 */
  &.-breadcrumbs01 {
    .breadcrumbs-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      @media screen and (max-width: $VIEWPOINT01) {
        justify-content: flex-start;
      }
      > li {
        &:first-child {
          font-size: 0;
          line-height: 0;
          > a {
            @extend %fade;
            img {
              width: 20px;
            }
          }
        }
        &:not(:first-child) {
          font-size: 12px;
          font-weight: 500;
          line-height: 1.5;
          > a {
            color: $color15;
            transition: color $speed01 $easing01;
            &:hover {
              color: $color01;
            }
          }
        }
        &:not(:last-child) {
          padding-right: 15px;
          background: {
            image: url(#{$IMGPATH}arw05-r.svg);
            repeat: no-repeat;
            size: 5px auto;
            position: center right;
          }
          @media screen and (max-width: $VIEWPOINT01) {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

/* ====================================== nav */
.nav {

  /* ------------------------------ 01 */
  &.-nav01 {
    .nav-list {
      display: flex;
      gap: 40px;
      @media screen and (max-width: $MIN-WIDTH) {
        gap: pc(40);
      }
      @media screen and (max-width: $VIEWPOINT01) {
        display: block;
      }
      > li {
        flex: 1;
        > a {
          min-height: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          @media screen and (max-width: $VIEWPOINT01) {
            min-height: auto;
            display: block;
          }
          .nav-img {
            @extend %img01;
            border-radius: 5px;
            aspect-ratio: 353 / 210;
            img {
              transition: transform $speed01 $easing01, opacity $speed01 $easing01;
            }
          }
          .nav-name {
            padding: 10px 70px 10px 0;
            border: {
              bottom: 1px solid $border-color;
            }
            display: flex;
            align-items: center;
            flex: 1;
            position: relative;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.5;
            transition: color $speed01 $easing01;
            &:after {
              @extend %arw01;
              content: "";
              margin: auto;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
            }
          }
          &:hover {
            .nav-img {
              img {
                transform: scale(1.05);
                opacity: 0.7;
              }
            }
            .nav-name {
              color: $color01;
            }
          }
        }
        &:not(:first-child) {
          @media screen and (max-width: $VIEWPOINT01) {
            margin-top: 20px;
          }
        }
      }
    }
  }

  /* ------------------------------ 02 */
  &.-nav02 {
    .nav-list {
      display: flex;
      gap: 25px;
      @media screen and (max-width: $MIN-WIDTH) {
        gap: pc(25);
      }
      @media screen and (max-width: $VIEWPOINT01) {
        display: block;
      }
      > li {
        flex: 1;
        > a {
          min-height: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          @media screen and (max-width: $VIEWPOINT01) {
            min-height: auto;
            display: block;
          }
          .nav-img {
            @extend %img01;
            border-radius: 5px;
            aspect-ratio: 26 / 15;
            img {
              transition: transform $speed01 $easing01, opacity $speed01 $easing01;
            }
          }
          .nav-name {
            padding: 10px 70px 10px 0;
            border: {
              bottom: 1px solid $border-color;
            }
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex: 1;
            gap: 3px;
            position: relative;
            @media screen and (max-width: $VIEWPOINT01) {
              padding: 15px 70px 15px 0;
            }
            &:after {
              @extend %arw01;
              content: "";
              position: absolute;
              right: 0;
              bottom: 10px;
              @media screen and (max-width: $VIEWPOINT01) {
                bottom: 15px;
              }
            }
            > span {
              display: block;
              &.sub {
                @extend %font01;
                font-size: 14px;
                font-weight: 500;
                color: $color01;
              }
              &.main {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.5;
                transition: color $speed01 $easing01;
              }
            }
          }
          &:hover {
            .nav-img {
              img {
                transform: scale(1.05);
                opacity: 0.7;
              }
            }
            .nav-name {
              > span {
                display: block;
                &.main {
                  color: $color01;
                }
              }
            }
          }
        }
        &:not(:first-child) {
          @media screen and (max-width: $VIEWPOINT01) {
            margin-top: 20px;
          }
        }
      }
    }
  }

  /* ------------------------------ 03 */
  &.-nav03 {
    .nav-list {
      display: flex;
      gap: 40px;
      @media screen and (max-width: $MIN-WIDTH) {
        gap: pc(40);
      }
      @media screen and (max-width: $VIEWPOINT01) {
        display: block;
      }
      > li {
        flex: 1;
        .section {
          > a {
            .section-img {
              @extend %img01;
              border-radius: 5px;
              aspect-ratio: 55 / 23;
              @media screen and (max-width: $VIEWPOINT01) {
                aspect-ratio: 36 / 23;
              }
              img {
                transition: transform $speed01 $easing01, opacity $speed01 $easing01;
              }
            }
            .section-ttl {
              margin-top: 15px;
              padding-right: 70px;
              position: relative;
              font-size: 24px;
              font-weight: 700;
              line-height: 1.5;
              transition: color $speed01 $easing01;
              &:after {
                content: "";
                margin: auto;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
              }
            }
            .section-txt {
              margin-top: 10px;
              font-size: 14px;
              line-height: 1.5;
              @media screen and (max-width: $VIEWPOINT01) {
                font-size: 16px;
              }
            }
            &:not([target="_blank"]) {
              .section-ttl {
                &:after {
                  @extend %arw01;
                }
              }
            }
            &[target="_blank"] {
              .section-ttl {
                &:after {
                  @extend %arw02;
                }
              }
            }
            &:hover {
              .section-img {
                img {
                  transform: scale(1.05);
                  opacity: 0.7;
                }
              }
              .section-ttl {
                color: $color01;
              }
            }
          }
        }
        &:not(:first-child) {
          @media screen and (max-width: $VIEWPOINT01) {
            margin-top: 30px;
          }
        }
      }
    }
  }
}

/* ====================================== article */
.article {

  /* ------------------------------ 01 */
  &.-article01 {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    @media screen and (max-width: $VIEWPOINT01) {
      font-size: 14px;
      line-height: 1.9;
    }
    > * {
      margin-top: 40px;
      @media screen and (max-width: $VIEWPOINT01) {
        margin-top: 20px;
      }
    }
    h1, h2 {
      margin-top: 80px;
      font-size: 200%;
      font-weight: 700;
      line-height: 1.6;
      @media screen and (max-width: $VIEWPOINT01) {
        margin-top: 60px;
        font-size: 160%;
      }
    }
    h3 {
      margin-top: 60px;
      font-size: 175%;
      font-weight: 700;
      line-height: 1.6;
      @media screen and (max-width: $VIEWPOINT01) {
        margin-top: 60px;
        font-size: 147%;
      }
    }
    h4 {
      margin-top: 60px;
      font-size: 150%;
      font-weight: 700;
      line-height: 1.6;
      @media screen and (max-width: $VIEWPOINT01) {
        margin-top: 60px;
        font-size: 133%;
      }
    }
    h5 {
      margin-top: 60px;
      font-size: 137.5%;
      font-weight: 700;
      line-height: 1.6;
      @media screen and (max-width: $VIEWPOINT01) {
        margin-top: 60px;
        font-size: 120%;
      }
    }
    h6 {
      margin-top: 60px;
      font-size: 125%;
      font-weight: 700;
      line-height: 1.6;
      @media screen and (max-width: $VIEWPOINT01) {
        margin-top: 60px;
        font-size: 107%;
      }
    }
    a {
      @extend %fade;
      text-decoration: underline;
    }
    figure {
      text-align: center;
      font-size: 0;
      line-height: 0;
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
      figcaption {
        margin: 1em 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        @media screen and (max-width: $VIEWPOINT01) {
          font-size: 12px;
        }
      }
    }
    > * {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

/* ====================================== loader */
.loader {

  /* ------------------------------ 01 */
  &.-loader01, &.-loader01:before, &.-loader01:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  &.-loader01 {
    color: $color01;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  &.-loader01:before, &.-loader01:after {
    content: '';
    position: absolute;
    top: 0;
  }
  &.-loader01:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  &.-loader01:after {
    left: 3.5em;
  }
  @-webkit-keyframes load7 {
    0%, 80%, 100% {
      box-shadow: 0 2.5em 0 -1.3em;
    } 40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes load7 {
    0%, 80%, 100% {
      box-shadow: 0 2.5em 0 -1.3em;
    } 40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
}

/* ====================================== form */
.form {

  /* ------------------------------ 01 */
  &.-form01 {
    input[type="text"], input[type="tel"], input[type="email"], select, textarea {
      width: 100%;
      border: 1px solid $border-color;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 18px;
      font-weight: 400;
      @media screen and (max-width: $VIEWPOINT01) {
        font-size: 16px;
      }
      &::placeholder {
        color: $color03;
      }
    }
    input[type="text"], input[type="tel"], input[type="email"], select {
      max-width: 365px;
      height: 70px;
      padding: 0 30px;
      @media screen and (max-width: $VIEWPOINT01) {
        max-width: none;
        height: 37px;
        padding: 0 10px;
      }
    }
    select {
      padding-right: 40px;
      background: {
        image: url(#{$IMGPATH}arw06-b.svg);
        repeat: no-repeat;
        size: 14px auto;
        position: center right 12px;
      }
      color: $base-color;
      @media screen and (max-width: $VIEWPOINT01) {
        padding-right: 32px;
        background: {
          size: 10px auto;
          size: center right 12px;
        }
      }
      &.select-change {
        color: $color03;
        &.-active {
          color: $base-color;
        }
      }
    }
    textarea {
      height: 164px;
      padding: 20px 30px;
      @media screen and (max-width: $VIEWPOINT01) {
        padding: 10px;
      }
    }
    input[type="radio"] {
      width: 16px;
      height: 16px;
      border: 1px solid $base-color;
      border-radius: 50%;
      position: relative;
      &:after {
        content: "";
        width: 8px;
        height: 8px;
        background: $color01;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 4px);
        left: calc(50% - 4px);
        opacity: 0;
        transition: opacity $speed01 $easing01;
      }
      &:checked {
        &:after {
          opacity: 1;
        }
      }
    }
    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      border: 1px solid $base-color;
      box-sizing: border-box;
      position: relative;
      &:after {
        content: "✔︎";
        display: inline-block;
        position: absolute;
        top: calc(50% - 0.8em);
        left: calc(50% - 0.45em);
        font-size: 12px;
        opacity: 0;
        transition: opacity $speed01 $easing01;
      }
      &:checked {
        &:after {
          opacity: 1;
        }
      }
    }
    input[type="file"] {
      width: 100%;
      max-width: 600px;
      cursor: default;
      &::file-selector-button {
        @extend %fade;
        width: 250px;
        height: 60px;
        margin-right: 10px;
        padding: 0 56px 0 30px;
        background: {
          color: $wh;
          image: url(#{$IMGPATH}ico-plus03.svg);
          repeat: no-repeat;
          size: 16px 16px;
          position: center right 30px;
        }
        border: 1px solid $color01;
        border-radius: 5px;
        box-sizing: border-box;
        text-align: left;
        font-family: inherit;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        color: $color01;
        cursor: pointer;
        @media screen and (max-width: $VIEWPOINT01) {
          width: 200px;
          height: 48px;
          padding: 0 48px 0 24px;
          background: {
            size: 14px 14px;
            position: center right 24px;
          }
          font-size: 14px;
        }
      }
    }
  }
}

/* ====================================== animation */
.animation {

  /* ------------------------------ 01 */
  &.-animation01 {
    opacity: 0;
    transform: translate(0, 10px);
    &.-l {
      transform: translate(-10px, 0);
    }
    &.-animation {
      opacity: 1;
      transform :translate(0, 0);
      transition: opacity $speed01 $easing01, transform $speed01 $easing01;
    }
  }

  /* ------------------------------ 02 */
  &.-animation02 {
    opacity: 0;
    &.-animation {
      opacity: 1;
      transition: opacity $speed01 $easing01;
    }
  }

  /* ------------------------------ 03 */
  &.-animation03 {
    background: $wh;
    overflow: hidden;
    img {
      opacity: 0;
      transform: scale(1.05);
    }
    &.-animation {
      img {
        opacity: 1;
        transform: scale(1);
        transition: opacity $speed01 $easing01, transform $speed01 $easing01;
      }
    }
  }
}
