@use "setting" as *;

/* ====================================== recruitment-nav */
#recruitment-nav {
  margin-top: 50px;
  padding-top: 50px;
  @media screen and (max-width: $VIEWPOINT01) {
    margin-top: 0;
  }
  .inner {
    .inner-contents {
      .nav {
        .nav-list {
          > li {
            .nav-section {
              > a {
                min-height: 410px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                position: relative;
                @media screen and (max-width: $VIEWPOINT01) {
                  min-height: auto;
                  display: block;
                }
                .nav-img {
                  @extend %img01;
                  width: 100%;
                  height: 100%;
                  border-radius: 5px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: -1;
                  @media screen and (max-width: $VIEWPOINT01) {
                    height: auto;
                    position: relative;
                    aspect-ratio: 360 / 203;
                  }
                  img {
                    transition: opacity $speed01 $easing01, transform $speed01 $easing01;
                  }
                }
                .nav-contents {
                  width: 500px;
                  padding: 30px 60px;
                  background: $wh;
                  border-radius: 5px 0 0 0;
                  box-sizing: border-box;
                  display: flex;
                  align-items: flex-end;
                  gap: 20px;
                  @media screen and (max-width: $VIEWPOINT01) {
                    width: calc(100% - 30px);
                    min-height: 100px;
                    margin: -50px auto 0;
                    padding: 20px 20px;
                    border-radius: 5px;
                    align-items: stretch;
                    gap: 10px;
                  }
                  .nav-ttl {
                    flex: 1;
                    > span {
                      display: block;
                      &.sub {
                        @extend %font01;
                        font-size: 18px;
                        font-weight: 600;
                        color: $color01;
                        @media screen and (max-width: $VIEWPOINT01) {
                          font-size: 16px;
                        }
                      }
                      &.main {
                        margin-top: 10px;
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 1.7;
                        @media screen and (max-width: $VIEWPOINT01) {
                          margin-top: 0;
                          font-size: 24px;
                        }
                      }
                    }
                  }
                  .btn {
                    @media screen and (max-width: $VIEWPOINT01) {
                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-end;
                    }
                  }
                }
                &:hover {
                  .nav-img {
                    img {
                      opacity: 0.7;
                      transform: scale(1.05);
                    }
                  }
                  .nav-contents {
                    .btn {
                      @extend %btn03-hover;
                    }
                  }
                }
              }
            }
            &:not(:first-child) {
              margin-top: 60px;
              @media screen and (max-width: $VIEWPOINT01) {
                margin-top: 50px;
              }
            }
          }
        }
      }
    }
  }
}

/* ====================================== recruitment-list */
#recruitment-list {
  margin-top: 50px;
  padding: 50px 0 100px;
  @media screen and (max-width: $VIEWPOINT01) {
    margin-top: 0;
    padding: 20px 0 50px;
  }
  .inner {
    .inner-contents {
      .nav {
        margin-top: 40px;
        @media screen and (max-width: $VIEWPOINT01) {
          margin-top: 30px;
        }
        .nav-list {
          display: flex;
          flex-wrap: wrap;
          gap: 40px;
          @media screen and (max-width: $MIN-WIDTH) {
            gap: pc(40);
          }
          @media screen and (max-width: $VIEWPOINT01) {
            display: block;
          }
          > li {
            width: calc((100% - 40px) / 2);
            @media screen and (max-width: $MIN-WIDTH) {
              width: calc((100% - pc(40)) / 2);
            }
            @media screen and (max-width: $VIEWPOINT01) {
              width: 100%;
            }
            .nav-section {
              > a {
                padding: 30px 130px 30px 30px;
                border: 1px solid $color01;
                display: block;
                position: relative;
                @media screen and (max-width: $VIEWPOINT01) {
                  padding: 30px;
                }
                &:after {
                  @extend %arw01;
                  content: "";
                  margin: auto;
                  position: absolute;
                  top: 0;
                  right: 30px;
                  bottom: 0;
                  transition: right $speed01 $easing01;
                  @media screen and (max-width: $VIEWPOINT01) {
                    top: 30px;
                    right: 30px;
                    bottom: auto;
                    left: auto;
                  }
                }
                .nav-ttl {
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 1.5;
                  transition: color $speed01 $easing01;
                  @media screen and (max-width: $VIEWPOINT01) {
                    padding-right: 70px;
                  }
                }
                .nav-txt {
                  @extend %txt-line03;
                  max-height: 5.1em;
                  margin-top: 20px;
                  font-size: 14px;
                  line-height: 1.7;
                  @media screen and (max-width: $VIEWPOINT01) {
                    max-height: 6.8em;
                    -webkit-line-clamp: 4;
                  }
                }
                &:hover {
                  &:after {
                    right: 25px;
                    @media screen and (max-width: $VIEWPOINT01) {
                      right: 30px;
                    }
                  }
                  .nav-ttl {
                    color: $color01;
                  }
                }
              }
            }
            &:not(:first-child) {
              @media screen and (max-width: $VIEWPOINT01) {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}

/* ====================================== recruitment-page */
#recruitment-page {
  padding: 50px 0 100px;
  @media screen and (max-width: $VIEWPOINT01) {
    margin-top: -20px;
    padding: 0 0 50px;
  }
  .inner {
    .inner-contents {
      .layout {
        display: flex;
        gap: 40px;
        @media screen and (max-width: $VIEWPOINT01) {
          display: block;
        }
        .block {
          &.-sub {
            padding-top: 50px;
            flex: 1;
            @media screen and (max-width: $VIEWPOINT01) {
              display: none;
            }
            .nav {
              padding-left: 30px;
              border: {
                left: 1px solid $color01;
              }
              position: sticky;
              top: 150px;
              left: 0;
              .nav-head {
                @extend %font01;
                font-size: 16px;
                font-weight: 600;
                color: $color01;
              }
              .nav-list {
                margin-top: 20px;
                > li {
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 1.5;
                  > a {
                    color: $color20;
                    transition: color $speed01 $easing01;
                  }
                  &:not(:first-child) {
                    margin-top: 10px;
                  }
                  &.-current {
                    > a {
                      color: $bk;
                    }
                  }
                  &:not(.-current) {
                    > a {
                      &:hover {
                        color: $color01;
                      }
                    }
                  }
                }
              }
            }
          }
          &.-main {
            width: 800px;
            max-width: calc(100% - 160px);
            @media screen and (max-width: $VIEWPOINT01) {
              width: 100%;
              max-width: none;
            }
            .section-wrap {
              .section {
                padding-top: 50px;
                @media screen and (max-width: $VIEWPOINT01) {
                  padding-top: 40px;
                }
                .section-ttl {
                  padding: 10px 20px;
                  background: $color01;
                  border-radius: 5px;
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 1.5;
                  color: $wh;
                }
                .section-contents {
                  margin-top: 10px;
                  .section-tbl {
                    .section-tbl-item {
                      padding: 30px 0;
                      border: {
                        bottom: 1px solid $border-color;
                      }
                      display: flex;
                      gap: 10px;
                      @media screen and (max-width: $VIEWPOINT01) {
                        padding: 20px 0 30px;
                        gap: 5px;
                      }
                      > dt, > dd {
                        font-size: 16px;
                        line-height: 1.7;
                      }
                      > dt {
                        width: 140px;
                        font-weight: 700;
                        @media screen and (max-width: $VIEWPOINT01) {
                          width: 100px;
                        }
                      }
                      > dd {
                        flex: 1;
                      }
                    }
                  }
                  .section-flow {
                    padding-top: 30px;
                    .section-flow-list {
                      display: flex;
                      gap: 5px;
                      counter-reset: number 0;
                      @media screen and (max-width: $VIEWPOINT01) {
                        display: block;
                      }
                      > li {
                        padding: 56px 5px 16px;
                        border: 1px solid $color01;
                        box-sizing: border-box;
                        flex: 1;
                        position: relative;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.5;
                        counter-increment: number 1;
                        @media screen and (max-width: $MIN-WIDTH) {
                          font-size: pc(16);
                        }
                        @media screen and (max-width: $VIEWPOINT01) {
                          width: 100%;
                          min-height: 60px;
                          padding: 15px 15px 15px 60px;
                          display: flex;
                          align-items: center;
                          font-size: 16px;
                        }
                        &:before {
                          content: counter(number, decimal-leading-zero);
                          width: 30px;
                          height: 30px;
                          margin: auto;
                          padding-bottom: 0.15em;
                          background: $color01;
                          border-radius: 50%;
                          box-sizing: border-box;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          position: absolute;
                          top: 16px;
                          right: 0;
                          left: 0;
                          text-align: center;
                          font-size: 16px;
                          font-weight: 700;
                          line-height: 1.5;
                          color: $wh;
                          @media screen and (max-width: $VIEWPOINT01) {
                            top: 0;
                            right: auto;
                            bottom: 0;
                            left: 15px;
                          }
                        }
                        &:not(:first-child) {
                          @media screen and (max-width: $VIEWPOINT01) {
                            margin-top: 15px;
                          }
                        }
                      }
                    }
                  }
                }
                &:not(:first-child) {
                  margin-top: 50px;
                  @media screen and (max-width: $VIEWPOINT01) {
                    margin-top: 40px;
                  }
                }
              }
            }
            .entry {
              margin-top: 100px;
              padding: 40px;
              background: $gradation02;
              border-radius: 5px;
              display: flex;
              align-items: center;
              gap: 30px;
              @media screen and (max-width: $MIN-WIDTH) {
                padding: pc(40);
                gap: pc(30);
              }
              @media screen and (max-width: $VIEWPOINT01) {
                margin-top: 50px;
                padding: 40px 20px;
                display: block;
              }
              .entry-copy {
                flex: 1;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.04em;
                @media screen and (max-width: $VIEWPOINT01) {
                  font-size: 22px;
                }
              }
              .btn {
                flex: 1;
                @media screen and (max-width: $VIEWPOINT01) {
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ====================================== recruitment-entry */
#recruitment-entry {
  padding: 120px 0;
  background: $gradation01;
  @media screen and (max-width: $VIEWPOINT01) {
    padding: 60px 0;
  }
  .inner {
    .inner-contents {
      .layout {
        display: flex;
        align-items: flex-end;
        gap: 30px;
        @media screen and (max-width: $VIEWPOINT01) {
          display: block;
        }
        .block {
          &.-copy {
            flex: 1;
            .copy {
              font-size: 40px;
              font-weight: 700;
              line-height: 1.9;
              letter-spacing: 0.04em;
              @media screen and (max-width: $VIEWPOINT01) {
                font-size: 24px;
              }
              > span {
                padding: 0.05em 0.3em;
                background: $wh;
                box-decoration-break: clone;
                display: inline;
              }
            }
          }
          &.-btn {
            width: 400px;
            @media screen and (max-width: $VIEWPOINT01) {
              width: 100%;
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
}
