/* ====================================== $ */
$IMGPATH      : '../img/';
$MIN-WIDTH-PX : 1240;
$MIN-WIDTH    : $MIN-WIDTH-PX + px;
$INNER-WIDTH  : 1140px;
$VIEWPOINT01  : 768px;
$VIEWPOINT02  : 374px;

/* ====================================== function */
@function pc( $num ) {
  @return calc( $num / $MIN-WIDTH-PX * 100 ) + vw;
}
@function sp( $num ) {
  @return calc( $num / 375 * 100 ) + vw;
}

/* ====================================== font */
%font01 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.04em;
}
%font02 {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ====================================== color */
$wh           : #ffffff;
$bk           : #000000;
$base-color   : #111111;
$border-color : #e5e5e5;
$bg-color     : #f5f5f5;
$color01      : #59BFBF;
$color02      : #28B7B7;
$color03      : #DEF2F2;
$color04      : #777777;
$color05      : #41BBED;
$color06      : rgba(23, 185, 251, 0.18);
$color07      : rgba(45, 213, 185, 0.18);
$color08      : #E5C43D;
$color09      : rgba(255, 212, 38, 0.3);
$color10      : rgba(245, 239, 173, 0.3);
$color11      : #F8F8F8;
$color12      : rgba(23, 185, 251, 0.4);
$color13      : rgba(45, 213, 185, 0.4);
$color14      : #515650;
$color15      : rgba(17, 17, 17, 0.1);
$color16      : #B2B2B2;
$color17      : #555555;
$color18      : rgba(23, 185, 251, 0.3);
$color19      : rgba(45, 213, 185, 0.3);
$color20      : #EEFAFA;
$color21      : #e5e5e5;

$gradation01  : linear-gradient(to bottom, $color06, $color07);
$gradation02  : linear-gradient(to bottom, $color12, $color13);
$gradation03  : linear-gradient(to bottom, $color09, $color10);
$gradation04  : linear-gradient(to bottom, $color18, $color19);

/* ====================================== animation */
$easing01: cubic-bezier(0.19, 1, 0.22, 1);
$speed01 : 1.75s;
$speed02 : 0.6s;
$speed03 : 10s;

@keyframes bar-t {
  0% {
    transform: translate(0, 0) rotate(0);
  } 50% {
    transform: translate(0, 8px) rotate(0);
  } 100% {
    transform: translate(0, 8px) rotate(20deg);
  }
}
@keyframes bar-c {
  0% {
    opacity: 1;
  } 50% {
    opacity: 1;
  } 50.0001%{
    opacity: 0;
  } 100% {
    opacity: 0;
  }
}
@keyframes bar-b {
  0% {
    transform: translate(0, 0) rotate(0);
  } 50% {
    transform: translate(0, -8px) rotate(0);
  } 100% {
    transform: translate(0, -8px) rotate(-20deg);
  }
}
@keyframes bar-t-r {
  0% {
    transform: translate(0, 8px) rotate(20deg);
  } 50% {
    transform: translate(0, 8px) rotate(0);
  } 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes bar-c-r {
  0% {
    opacity: 0;
  } 50% {
    opacity: 0;
  } 50.0001% {
    opacity: 1;
  } 100% {
    opacity: 1;
  }
}
@keyframes bar-b-r {
  0% {
    transform: translate(0, -8px) rotate(-20deg);
  } 50% {
    transform: translate(0, -8px) rotate(0);
  } 100% {
    transform: translate(0, 0) rotate(0);
  }
}

/* ==== iOS安定用にダブル定義 ==== */
@-webkit-keyframes bar-t { 0%{transform:translate(0,0) rotate(0)} 50%{transform:translate(0,8px) rotate(0)} 100%{transform:translate(0,8px) rotate(20deg)} }
@-webkit-keyframes bar-c { 0%{opacity:1} 50%{opacity:1} 50.0001%{opacity:0} 100%{opacity:0} }
@-webkit-keyframes bar-b { 0%{transform:translate(0,0) rotate(0)} 50%{transform:translate(0,-8px) rotate(0)} 100%{transform:translate(0,-8px) rotate(-20deg)} }

@-webkit-keyframes bar-t-r { 0%{transform:translate(0,8px) rotate(20deg)} 50%{transform:translate(0,8px) rotate(0)} 100%{transform:translate(0,0) rotate(0)} }
@-webkit-keyframes bar-c-r { 0%{opacity:0} 50%{opacity:0} 50.0001%{opacity:1} 100%{opacity:1} } /* ← 小数で境界ズラす */
@-webkit-keyframes bar-b-r { 0%{transform:translate(0,-8px) rotate(-20deg)} 50%{transform:translate(0,-8px) rotate(0)} 100%{transform:translate(0,0) rotate(0)} }

@keyframes wave01 {
  from { transform: translateX(0); }
  to   { transform: translateX(-66.66%); } // 300%幅 → -66.66%%でループ
}

@keyframes loop01 {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(-100%);
  }
}
@keyframes loop02 {
  0% {
    transform: translateX(100%);
  } 100% {
    transform: translateX(0);
  }
}
@keyframes loop03 {
  0% {
    transform: translateX(200%);
  } 100% {
    transform: translateX(100%);
  }
}
@keyframes loop01-r {
  0% {
    transform: translateX(-100%);
  } 100% {
    transform: translateX(0);
  }
}
@keyframes loop02-r {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(100%);
  }
}
@keyframes loop03-r {
  0% {
    transform: translateX(100%);
  } 100% {
    transform: translateX(200%);
  }
}
@keyframes loop01-up {
  0% {
    transform: translateY(0);
  } 100% {
    transform: translateY(-100%);
  }
}
@keyframes loop02-up {
  0% {
    transform: translateY(100%);
  } 100% {
    transform: translateY(0);
  }
}
@keyframes loop03-up {
  0% {
    transform: translateY(200%);
  } 100% {
    transform: translateY(100%);
  }
}
@keyframes loop01-down {
  0% {
    transform: translateY(-100%);
  } 100% {
    transform: translateY(0);
  }
}
@keyframes loop02-down {
  0% {
    transform: translateY(0);
  } 100% {
    transform: translateY(100%);
  }
}
@keyframes loop03-down {
  0% {
    transform: translateY(100%);
  } 100% {
    transform: translateY(200%);
  }
}
.loop-slider {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  .slider {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    .list {
      display: flex;
      align-items: center;
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100%);
      }
      &:nth-child(3) {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(200%);
      }
    }
    &.-animation {
      .list {
        &:nth-child(1) {
          animation: loop01 80s linear 0s infinite;
          @media all and (-ms-high-contrast: none) {
            animation: none;
          }
        }
        &:nth-child(2) {
          animation: loop02 80s linear 0s infinite;
          @media all and (-ms-high-contrast: none) {
            animation: none;
          }
        }
        &:nth-child(3) {
          animation: loop03 80s linear 0s infinite;
          @media all and (-ms-high-contrast: none) {
            animation: none;
          }
        }
      }
    }
  }
  &.-r {
    .slider {
      &.-animation {
        .list {
          &:nth-child(1) {
            animation: loop01-r 80s linear 0s infinite;
            @media all and (-ms-high-contrast: none) {
              animation: none;
            }
          }
          &:nth-child(2) {
            animation: loop02-r 80s linear 0s infinite;
            @media all and (-ms-high-contrast: none) {
              animation: none;
            }
          }
          &:nth-child(3) {
            animation: loop03-r 80s linear 0s infinite;
            @media all and (-ms-high-contrast: none) {
              animation: none;
            }
          }
        }
      }
    }
  }
  &.-up, &.-down {
    .slider {
      display: block;
      .list {
        display: block;
        &:nth-child(2) {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(0, 100%);
        }
        &:nth-child(3) {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(0, 200%);
        }
      }
    }
  }
  &.-up {
    .slider {
      &.-animation {
        .list {
          &:nth-child(1) {
            animation: loop01-up 80s linear 0s infinite;
            @media all and (-ms-high-contrast: none) {
              animation: none;
            }
          }
          &:nth-child(2) {
            animation: loop02-up 80s linear 0s infinite;
            @media all and (-ms-high-contrast: none) {
              animation: none;
            }
          }
          &:nth-child(3) {
            animation: loop03-up 80s linear 0s infinite;
            @media all and (-ms-high-contrast: none) {
              animation: none;
            }
          }
        }
      }
    }
  }
  &.-down {
    .slider {
      &.-animation {
        .list {
          &:nth-child(1) {
            animation: loop01-down 80s linear 0s infinite;
            @media all and (-ms-high-contrast: none) {
              animation: none;
            }
          }
          &:nth-child(2) {
            animation: loop02-down 80s linear 0s infinite;
            @media all and (-ms-high-contrast: none) {
              animation: none;
            }
          }
          &:nth-child(3) {
            animation: loop03-down 80s linear 0s infinite;
            @media all and (-ms-high-contrast: none) {
              animation: none;
            }
          }
        }
      }
    }
  }
  &.-paused {
    &:hover {
      .slider {
        &.-animation {
          .list {
            animation-play-state: paused;
          }
        }
      }
    }
  }
}

/* ====================================== % */
%clearfix {
  zoom: 1;
  &:after {
    display: block;
    clear: both;
    content:" ";
  }
}
%img-reset {
  line-height: 0;
  font-size: 0;
}
%fade {
  opacity: 1;
  transition: opacity $speed01 $easing01;
  &:hover {
    opacity: 0.7;
  }
}
%center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
%max {
  width: 100%;
  height: 100%;
}
%img01 {
  position: relative;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  transform: translateZ(0);
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
%modal01 {
  overflow-y: scroll;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
%txt-line01 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
%txt-line02 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
%txt-line03 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
%wave-top {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 1.944vw;
    background: {
      image: url(#{$IMGPATH}wave01.webp);
      repeat: no-repeat;
      size: 100% auto;
      position: top center;
    }
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    @media screen and (max-width: $VIEWPOINT01) {
      height: 4.1vw;
      background: {
        image: url(#{$IMGPATH}wave01-sp.webp);
      }
    }
  }
}
%wave-bottom {
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 1.944vw;
    background: {
      image: url(#{$IMGPATH}wave02.webp);
      repeat: no-repeat;
      size: 100% auto;
      position: bottom center;
    }
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 1;
    @media screen and (max-width: $VIEWPOINT01) {
      height: 4.1vw;
      background: {
        image: url(#{$IMGPATH}wave02-sp.webp);
      }
    }
  }
}
%arw01 {
  width: 60px;
  height: 30px;
  background: {
    color: $color01;
    image: url(#{$IMGPATH}arw02-r-wh.svg);
    repeat: no-repeat;
    size: 16px auto;
    position: center center;
  }
  border-radius: 9999px;
  display: block;
}
%arw01-yel {
  @extend %arw01;
  background: {
    color: $color08;
  }
}
%arw02 {
  width: 60px;
  height: 30px;
  background: {
    color: $wh;
    image: url(#{$IMGPATH}arw03-tr.svg);
    repeat: no-repeat;
    size: 14px auto;
    position: center center;
  }
  border: 1px solid $color01;
  border-radius: 9999px;
  box-sizing: border-box;
  display: block;
}
%btn01-hover {
  > span {
    opacity: 0.7;
    &:after {
      right: 15px;
    }
  }
}
%btn03-hover {
  > span {
    opacity: 0.7;
    &:after {
      right: 15px;
    }
  }
}
%tag01 {
  padding: 2px 10px 3px;
  background: $color01;
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: $wh;
  @media screen and (max-width: $VIEWPOINT01) {
    font-size: 16px;
  }
}
%copy01 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.04em;
  @media screen and (max-width: $VIEWPOINT01) {
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0;
  }
  > span {
    padding: 0.05em 0.3em;
    background: $wh;
    box-decoration-break: clone;
    display: inline;
    @media screen and (max-width: $VIEWPOINT01) {
      padding: 0;
      background: transparent;
    }
  }
}
